<a href="/person/index">List</a>
<h2>Person #<%=model.name %> Update form</h2>
<form action="/person/update/<%=model.id %>" method="POST">
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td><input name="Person[name]" value="<%=model.name %>" type="text">
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input name="Person[age]" value="<%=model.age %>" type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td><input value="SAVE" type="submit"></td>
            </tr>
        </tbody>
    </table>
</form>